/0*
/*sif
/.quarto/

_site
_trash


/test*
# ignore all except .qmd files in hands-on dir
/hands-on/*
!/hands-on/*.qmd

# add hands-on/06-scaffolding/references/tuto482.fasta
!/hands-on/06-scaffolding/
/hands-on/06-scaffolding/*
!/hands-on/06-scaffolding/references/
/hands-on/06-scaffolding/references/*
!/hands-on/06-scaffolding/references/tuto482.fasta.gz

*_thesis.txt

